* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    border: none;
}

/* star */
  .btn {
    color: white;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-image: linear-gradient(to top right, rgb(166, 6, 187) , rgb(255, 43, 110));
  }
  
  .btn.active {
    background-image: linear-gradient(to top right, rgb(139, 22, 155) , rgb(198, 87, 238), rgb(92, 177, 245));
  }
  .star-container {
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .purple {
    color: purple;
  }
  
  /* Zoom  */
  .zoom-interface {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    background-color: rgb(38, 37, 37);
  }
  .zoom-container {
    width: 180px;
    height: 100px;
    background-color: rgb(64, 62, 62);
    color: white;
    position: relative;
    display: flex;
    text-align: center;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
  }
  .name.bigfont {
    margin: auto;
  }
  .bottom-left-name-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.4rem;
    background-color: black;
    padding: 0 3px 0 3px;
    border-radius: 2px;
  }

.custom-green-button {
    background-color: black; 
    color: lightblue;
    padding: 5px; 
    height: 30px; 
    border: 1px solid lightblue; 
    display: inline-block;
}
.custom-orange-button{
    background-color: orange; 
    color: lightblue;
    padding: 5px; 
    height: 30px; 
    border: 1px solid lightblue; 
    display: inline-block;
}
.counter {
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
}
.sign, .num {
    display: inline-block;
    width: 30px;
    background-color: white;
    text-align: center;
    color: darkgreen;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
}
.sign {
    background-color: lightgray;
    color: black;
    border: none;
}
.container {
    margin-left: 30px;
}
.pic-container {
    display: flex;
    margin: 20px 0 30px 0;
}
.pic-container div {
    margin-right: 20px;
}
.pic-container img {
    width: 150px;
    height: 150px;
    display: block;
}
.see-more {
    text-decoration: none;
    color: rgb(22, 144, 132);
}

/* product  */
.product {
  border: 1px solid black; 
  
}

/* Post  */
.Post {
  
}